<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.product.mapper.ProductTypeMapper">
  <resultMap id="BaseResultMap" type="com.wx.product.model.ProductType">
    <id column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_type_name" jdbcType="VARCHAR" property="productTypeName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="product_type_state" jdbcType="INTEGER" property="productTypeState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_type_id, product_type, product_type_name, sort, product_type_state
  </sql>
  <select id="selectByExample" parameterType="com.wx.product.model.ProductTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_type
    where product_type_id = #{productTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product_type
    where product_type_id = #{productTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wx.product.model.ProductTypeExample">
    delete from t_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wx.product.model.ProductType">
    <selectKey keyProperty="productTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_type (product_type, product_type_name, sort, 
      product_type_state)
    values (#{productType,jdbcType=INTEGER}, #{productTypeName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{productTypeState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wx.product.model.ProductType">
    <selectKey keyProperty="productTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productType != null">
        product_type,
      </if>
      <if test="productTypeName != null">
        product_type_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="productTypeState != null">
        product_type_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productTypeName != null">
        #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="productTypeState != null">
        #{productTypeState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wx.product.model.ProductTypeExample" resultType="java.lang.Long">
    select count(*) from t_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_product_type
    <set>
      <if test="record.productTypeId != null">
        product_type_id = #{record.productTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=INTEGER},
      </if>
      <if test="record.productTypeName != null">
        product_type_name = #{record.productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.productTypeState != null">
        product_type_state = #{record.productTypeState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_product_type
    set product_type_id = #{record.productTypeId,jdbcType=INTEGER},
      product_type = #{record.productType,jdbcType=INTEGER},
      product_type_name = #{record.productTypeName,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      product_type_state = #{record.productTypeState,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.product.model.ProductType">
    update t_product_type
    <set>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productTypeName != null">
        product_type_name = #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="productTypeState != null">
        product_type_state = #{productTypeState,jdbcType=INTEGER},
      </if>
    </set>
    where product_type_id = #{productTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.product.model.ProductType">
    update t_product_type
    set product_type = #{productType,jdbcType=INTEGER},
      product_type_name = #{productTypeName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      product_type_state = #{productTypeState,jdbcType=INTEGER}
    where product_type_id = #{productTypeId,jdbcType=INTEGER}
  </update>
</mapper>